[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

bind-address = 127.0.0.1
back_log = 256

set-variable=max_connections=32
set-variable=max_user_connections=30
set-variable=wait_timeout=10

# memory = key_buffer+(sort_buffer_size+read_buffer_size)*max_connections
key_buffer = 16M
table_cache = 256
sort_buffer_size = 1M
read_buffer_size = 512k
max_allowed_packet = 1M
query_cache_size = 10M

skip-innodb
skip-bdb

log-slow-queries
long_query_time = 5
log-queries-not-using-indexes

safe-show-database

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open_files_limit=512
